body {
    
    font-family: 'Ubuntu', sans-serif;
    background-repeat: round;
}

.page-body {
    background-color: lavender;
    background-image: none;
}

.train-image {
    width: 20rem;
    /* margin-right: 4rem; */
    margin: 4rem;
    border-radius: 1rem;
}

.booking {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.page-subcontent {
    font-size: 1rem;
}

.page-content {
    font-size: 1rem;
    margin: 1rem 6rem 6rem 6rem;
}

.main-page {
    background-color: #FFFFFF;
    width: 100rem;
    margin: auto;
    border-radius: 3rem;
    margin-bottom: 6rem;
    margin-top: 3rem;
}

.main-block {
    height: 32rem;
    display: inline;
}

.main {
    background-color: #FFFFFF;
    width: 477px;
    height: 21rem;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgb(0 0 0 / 14%);
    margin-top: 1rem;
}

.login {
    padding-top: 40px;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}

a {
    color: black;
}

section {
    text-align: center;
}

.Username {
    text-align: center;
    margin-bottom: 27px;
}

.password {
    text-align: center;
    margin-bottom: 27px;
}

.submit {
    border-radius: 5em;
    color: #fff;
    background: cadetblue;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 35%;
}

.checkboxes {
    margin-bottom: 2rem;
}

.forgot {
    padding-top: 10px;
    text-align: center;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    text-decoration: none
}

.header {
    overflow: hidden;
    background-color: unset;
    padding: 20px 10px;
}

.header_items {
    margin-right: 1rem;

}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.page-header {
    background-color: currentcolor;
    
}

.page-header a {
    color: white;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-weight: 600;
    font-size: 2.5rem;
    font-family: 'Lucida Handwriting', sans-serif;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}


.header a.active {
    background-color: black;
    color: white;
}

.page-header a.active {
    background-color: lavender;
    color: black;
}

.header-right {
    float: right;
}

.icons {
    text-align: left;
    margin-top: 1rem;
}




.logo-image{
    height: 50px;
    float: left;
    border-radius: 50%;
    padding-left: 10px;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

body {
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #f4f4f4;
    align-items: start;
    min-height: 100vh;
}


footer{
    height: auto;
    background-color: black;
    align-items: center;
  }
  
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
  }
  
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(15, 8, 8, 0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
  }
  
  .social ul li {
    display: inline-block;
  }
  
  .clearfix {
    clear: both;
  }
  
  .footer-text-content{
    text-align: center;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
  }
  
  .footer-text-content p{
    font-size: 1.255rem;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .flex-contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  

@media only screen and (min-width: 400px) and (max-width: 796px) {

    .footer_section {
        flex: 1 0px;
    }

    .list_f {
        flex: 2 0px;
    }

    .login {
        font-size: 2rem;
    }

    .main {

        width: 25rem;
        height: 25rem;

    }

    .page-content {
        margin: 40px;
        margin-right: 0;
    }

    .main-page {
        width: 53rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

.container{
    padding: 7px 15px;
    background-color:white;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 3px 5px 2px gray;
}


.form-heading{
    text-align: center;
    font-family: cursive;
    padding-right: 9rem;
  }
  
  .form{
      /* background-color: aquamarine; */
      padding-top: 15px;
      width: 30%;
     
  }
  .form form{
      margin: 15px auto;
      width: 180px;
      border: 1px solid rgb(217, 180, 112);
      outline: none;
      /* background-color: antiquewhite; */
  }
  .form form input{
      padding: 8px 3px;
      width: 60%;
      border: none;
      outline: none;
  }
  .form form button{
      font-weight: bold;
      padding: 8px 7px;
      background-color: rgb(217, 180, 112);
      border-radius: 4px;
      border: none;
  }
  .form form button:hover{
      background-color:rgb(229, 207, 168);
      color: rgb(203, 154, 64);
  }

  .textboxes{
    background: transparent !important;
    outline-style: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: solid #000000 1px;
    box-shadow: 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 !important;
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
    font-style: italic;
  }
  
  label {
    padding: 12px 12px 12px 20px;
    display: inline-block;
    font-weight: bold;
    font-style: italic;
  }
  

  #container2 {
    border-radius: 12px;
    background-color: rgb(224, 242, 245);
    padding: 20px 20px 20px 200px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  
  .col {
    float: left;
    width: 20%;
    margin-top: 6px;
  }
  .col3{
    float:left;
    width: 15%;
    margin-top: 6px;
  }
  
  
  .col2 {
    float: left;
    width: 50%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .number{
    margin:10px;
    margin-left: 10rem;
  }
  .minus, .plus{
    width:20px;
    height:20px;
    background:#f2f2f2;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  .counter{
    height:34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
  }

.container-form{
    margin-left: 20px;
    width: 86rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
}

.donate-button{
    margin-top: 0rem;
    margin-left: 30rem;
  }
  
  .button-donate {
    align-content: center;
    align-items: center;
    background: #33e24a;
    border: 0;
    border-radius: 8px;
    box-shadow: -10px -10px 30px 0 rgb(64, 191, 241),10px 10px 30px 0 #ecebf117;
    box-sizing: border-box;
    color: #2a1f62;
    cursor: pointer;
    
    font-family:'Rockwell','Rockwell Extra Bold';
    font-size: 2rem;
    justify-content: center;
    line-height: 1.5rem;
    padding: 15px;
    position: relative;
    text-align: left;
    transition: .2s;
    user-select: none;
    touch-action: manipulation;
    white-space: pre;
    width: max-content;
   
  }
  
  .button-donate:hover {
    background: #e9ec23;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
  }

  .picc{
    height: 27rem;
    width: 28rem;
    border-radius: 5rem;
  }

  .former{
    width: 66rem;
  }


  .glow {
    padding-left: 6rem;
    font-size: 15px;
    font-weight: bold;
  }